#main{
    width: 1000px;
    height: 550px;
    background-color: red;
    margin-left:auto;
    margin-right: auto;
}

#header{
    width: 1000px;
    height:100px;
    background-color: #d9f2d9;
}

#menu{
    width: 200px;
    height: 400px;
    background-color: #f9e6ff;
    float:right;
}

#content{
    width:800px;
    height:400px;
    background-color: #cce6ff;
    float:left;
}

#footer{
    width: 1000px;
    height: 50px;
    background-color: #efefef;
    clear:both;
    /*float:left;*/ /* if you do not have risk that element will move up*/
}

#registerForm{
    margin-top:50px;
}